/* Пример подключения шрифтов к проекту удалить комментарий после подключения */
/* @font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../fonts/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../fonts/Poppins-Bold.ttf");
  font-weight: 700;
} */
